.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa 
      .top-items__icons
        = link_to "#", class: "icon" do
          = icon('far', 'edit')
        = link_to "#", class: "icon" do
          = icon('fas', 'cog')
  .side-bar__group-list
    .groups
      .group-items
        .group-items__name
          techchamp
        .group-items__message
          まだメッセージはありません
      .group-items
        .group-items__name
          techchamp
        .group-items__message
          まだメッセージはありません
      .group-items
        .group-items__name
          techchamp
        .group-items__message
          まだメッセージはありません


