* {
  box-sizing: border-box;
}

$btn-color: #38aef0;

@mixin btn() {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

@mixin flexbox() {
  display: flex;
  justify-content: space-between;

}

.side-bar {
  float: left;
  height: 100vh;
  width: 300px;
  background-color: #253141;
  color: #ffffff;
  &__user-name {
    height: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    .top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      color: #ffffff;
      font-size: 16px;
      @include flexbox();
      line-height: 20px;
      &__icons {
        width: 60px;
        text-align: right;
        .icon {
          color: #ffffff;
          margin-left: 5px;
          display: inline-block;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .groups {
      padding: 20px;
      .group-items {
        margin-bottom: 40px;
        text-decoration: none;
        &__name {
          font-size: 15px;
          margin-bottom: 5px;
          color: white;
        }
        &__message {
          color: white;
          font-size: 11px;
        }
      }
    }
  }
}

.main-chat {
  float: right;
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    border-bottom:1px #eeeeee solid;
    height: 100px;
    @include flexbox();
    .title-items {
      padding: 35px 0 0 40px;
      &__name {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__member {
        font-size: 12px;
        color: #999999;
      }
    }
    .edit-btn {
      @include btn();
      font-size: 16px;
      height: 40px;
      width: 72px;
      color: $btn-color;
      border: 1px solid $btn-color;
      line-height: 40px;
      margin-top: 28px;
      margin-right: 40px;
    }
  }
  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    overflow: scroll;
    box-sizing: border-box;
    .messages {
      padding-top: 35px;
      padding-left: 40px;
      .message-items {
        margin-bottom: 46px;
        &__contents {
          padding-bottom: 12px;
          display: flex;
          &--name {
            font-size: 16px;
            color: #333333;
            font-weight: bold;
          }
          &--date {
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        }
        &__text {
          font-size: 14px;
          color: #434a54;
        }
      }
    }
  }

  &__message-form {
    background-color: #d2d2d2;
    padding: 20px 40px;
    height: 90px;
    display: flex;
    .form {
      position: relative;
      &__message {
        height: 50px;
        width: 100%;
        background-color: #ffffff;
        align-items: center;
        border: none;
        text-indent: 1em;
      }
      &__mask {
        &__image {
          cursor: pointer;
          position: absolute;
          .icon {
            right: 10px;
            top: 15px;
          }
          .hidden {
            display: none;
          }
        }
      }
    }
    &__submit {
      @include btn();
      font-size: 16px;
      height: 50px;
      width: 100px;
      background-color: $btn-color;
      color: #ffffff;
      line-height: 50px;
      margin-left: 15px;
    }
  }
}
